<div class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6">
    <div
      class="flex justify-center items-center py-6 md:justify-start md:space-x-10"
    >
      <!---store name/ store logo--->
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>
      <!---Nav manu--->
      <nav class="hidden md:flex space-x-10">
        {% for link in section.settings.menuid.links %} {% if link.links !=blank
        %} {% assign link_handle = link.handle | replace: '-', '_' %}
        <div class="relative" x-data="{ {{ link_handle }} : false}">
          <button
            x-on:click="{{ link_handle }} = !{{ link_handle }}"
            class="inline-flex items-center"
          >
            {{ link.title }}
            <span>{% render "icon-dropdown" %}</span>
          </button>
          <div
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 translate-y-3"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-out duration-300"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-3"
            x-show="{{ link_handle }}"
            @click.away="{{ link_handle }} = false"
            class="absolute z-10 -ml-5 mt-4 transform px-2 w-screen max-w-xs sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
          >
            <div
              class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg"
            >
              <div
                class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"
              >
                {% for childLink in link.links %}
                <a
                  href="{{ childLink.url }}"
                  class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100"
                >
                  <div class="ml-4">
                    <p class="text-gray-900 text-base font-medium">
                      {{ childLink.title }}
                    </p>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <a
          href="{{ link.url }}"
          class="text-base text-gray-500 hover:text-gray-700"
          >{{ link.title }}</a
        >
        {% endif %} {% endfor %}
      </nav>
      <!---cart button/ acc links if enabled--->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-2">
        <a
          href="/cart"
          class="whitespace-nowrap text-base text-white hover:text-gray-200 bg-[#ff9900] p-[6px] rounded-md shadow-lg hover:bg-[#ff8800]"
        >
          {% render "icon-shopping-bag" %}
        </a>

        {% if shop.customer_accounts_enabled %} {% if customer %}
        <a href="/account" class="text-base text-gray-500 hover:text-gray-900"
          >Account</a
        >
        {{'Log out' | customer_logout_link | replace: '<a', '<a class="text-base text-white py-2 px-5 rounded-md shadow-lg bg-[#ce3636] hover:bg-[#ca0000] "'}}
        {% else %}
        {{ "Log in" | customer_login_link | replace: '<a', '<a class="text-base text-white py-2 px-5 rounded-md shadow-lg bg-[#5B4B8A] hover:bg-[#4C3575] "'}}
        {{ "Register" | customer_register_link | replace: '<a', '<a class="text-base text-white py-2 px-5 rounded-md shadow-lg bg-[#028eda] hover:bg-[#007cc4] "'}}
        {% endif %} {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %} { "name": "Header", "settings": [ { "type":"link_list",
"id":"menuid", "default": "main-menu", "label": "Heading Navigation Menu" } ] }
{% endschema %}
